flow.json
[
    {
        "id": "9d9a3022e9bad384",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "95591037bd493102",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e8366c3c2ecd925",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc6d96033809a608",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "24738e8c59bf2d72",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2ace1d51610e5bc1",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "9a5ecb8b52ea462d",
                "a74887f3c3e9b2f7",
                "0c99ca8c4ea61801"
            ]
        ]
    },
    {
        "id": "9a5ecb8b52ea462d",
        "type": "change",
        "z": "9d9a3022e9bad384",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "helmi",
                "pt": "global",
                "to": "123456789",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3dab1f0579efb54f",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "helmi",
        "payloadType": "global",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "757cb723da8cad3b"
            ]
        ]
    },
    {
        "id": "757cb723da8cad3b",
        "type": "debug",
        "z": "9d9a3022e9bad384",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "49c747c6faebde42",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "helmi",
        "payloadType": "flow",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "f7c3a9b86fd3c7b3"
            ]
        ]
    },
    {
        "id": "dd67cec8e9f7a719",
        "type": "debug",
        "z": "9d9a3022e9bad384",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "a74887f3c3e9b2f7",
        "type": "change",
        "z": "9d9a3022e9bad384",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "helmi2",
                "pt": "flow",
                "to": "abcdefg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f7c3a9b86fd3c7b3",
        "type": "change",
        "z": "9d9a3022e9bad384",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "helmi2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "dd67cec8e9f7a719"
            ]
        ]
    },
    {
        "id": "6d551eeff1f4b453",
        "type": "inject",
        "z": "95591037bd493102",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "helmi",
        "payloadType": "global",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "ea99eb233f4d4640"
            ]
        ]
    },
    {
        "id": "ea99eb233f4d4640",
        "type": "change",
        "z": "95591037bd493102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "d48c8d9609484c2e"
            ]
        ]
    },
    {
        "id": "d48c8d9609484c2e",
        "type": "debug",
        "z": "95591037bd493102",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "8636cfd0b7c14a34",
        "type": "inject",
        "z": "95591037bd493102",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "helmi3",
        "payloadType": "global",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "1538dd9b377a7ab0"
            ]
        ]
    },
    {
        "id": "1538dd9b377a7ab0",
        "type": "change",
        "z": "95591037bd493102",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "f3baa85f1bc725a0"
            ]
        ]
    },
    {
        "id": "f3baa85f1bc725a0",
        "type": "debug",
        "z": "95591037bd493102",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "0c99ca8c4ea61801",
        "type": "change",
        "z": "9d9a3022e9bad384",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "helmi3",
                "pt": "global",
                "to": "xxxxxxxxxxxxxxxxxx",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "92484a39477a51ac",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "87f689883019b1f9"
            ]
        ]
    },
    {
        "id": "87f689883019b1f9",
        "type": "function",
        "z": "9d9a3022e9bad384",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "244ade05400d28bf"
            ]
        ]
    },
    {
        "id": "244ade05400d28bf",
        "type": "debug",
        "z": "9d9a3022e9bad384",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "14bd29c7b25a2c17",
        "type": "mqtt in",
        "z": "9d9a3022e9bad384",
        "name": "",
        "topic": "helmi",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc6d96033809a608",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 470,
        "y": 720,
        "wires": [
            [
                "d4ffa30b7c64c2ca"
            ]
        ]
    },
    {
        "id": "4717ebde54de2d89",
        "type": "mqtt out",
        "z": "9d9a3022e9bad384",
        "name": "",
        "topic": "helmi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc6d96033809a608",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "cc8888bd8965e026",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "4717ebde54de2d89"
            ]
        ]
    },
    {
        "id": "d4ffa30b7c64c2ca",
        "type": "debug",
        "z": "9d9a3022e9bad384",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "55d1049fc52a1c02",
        "type": "inject",
        "z": "9d9a3022e9bad384",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "52207790afc4f9b5"
            ]
        ]
    },
    {
        "id": "52207790afc4f9b5",
        "type": "mqtt out",
        "z": "9d9a3022e9bad384",
        "name": "",
        "topic": "helmi2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc6d96033809a608",
        "x": 380,
        "y": 820,
        "wires": []
    },
    {
        "id": "1b822606f456ff18",
        "type": "mqtt in",
        "z": "95591037bd493102",
        "name": "",
        "topic": "helmi2",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc6d96033809a608",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "7866091c80e5d043"
            ]
        ]
    },
    {
        "id": "7866091c80e5d043",
        "type": "debug",
        "z": "95591037bd493102",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "e6a845d9ab274a70",
        "type": "feedparse",
        "z": "4e8366c3c2ecd925",
        "name": "Malaysiakini",
        "url": "https://www.malaysiakini.com/rss/en/news.rss",
        "interval": 15,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "dcd41197bda96e63",
                "3ffdde53e456335f"
            ]
        ]
    },
    {
        "id": "dcd41197bda96e63",
        "type": "debug",
        "z": "4e8366c3c2ecd925",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "c905ac10beb77c5a",
        "type": "inject",
        "z": "4e8366c3c2ecd925",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "67ee338820d303af"
            ]
        ]
    },
    {
        "id": "67ee338820d303af",
        "type": "function",
        "z": "4e8366c3c2ecd925",
        "name": "",
        "func": "// Title\n// Description\n// Source\n// Author\n\nvar tmp = msg.article;\n\nvar news = {\n    title:tmp.title,\n    description:tmpt.description,\n    link:tmp.link,\n    author:tmp.author\n}\n\nmsg.payload = news;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "be283e11b7c7b482"
            ]
        ]
    },
    {
        "id": "be283e11b7c7b482",
        "type": "ui_table",
        "z": "4e8366c3c2ecd925",
        "group": "24738e8c59bf2d72",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "",
                "title": "",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "3ffdde53e456335f",
        "type": "function",
        "z": "4e8366c3c2ecd925",
        "name": "",
        "func": "// Title\n// Description\n// Source\n// Author\n\nvar tmp = msg.article;\n\nvar news = {\n    title:tmp.title,\n    description:tmp.description,\n    link:tmp.link,\n    author:tmp.author\n}\n\nmsg.payload = news;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 60,
        "wires": [
            [
                "89428be5d66eefe8"
            ]
        ]
    },
    {
        "id": "89428be5d66eefe8",
        "type": "debug",
        "z": "4e8366c3c2ecd925",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    }
]